---
version: '2'
volumes:
  boinc-data:
services:
  boinc-cruncher:
    image: registry.ag.local:5000/paul/boinc:v0.0.7
    environment:
      BOINC_GUI_PASSWORD: some_password
      TIMEZONE: Europe/Moscow
    devices:
    - /dev/input:/dev/input:rwm
    - /dev/input/mice:/dev/input/mice:rwm
    volumes:
    - boinc-data:/var/lib/boinc-client
    ports:
    - 31416:31416/tcp
